<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aircjm.study.mybatis.mapper.UcUserMapper">
    <select id="selectOne" resultType="com.aircjm.study.mybatis.domain.UcUser">
        select  * from uc_user limit 1
    </select>
    <update id="updateOne">
        update uc_user set username = #{username} where id = #{id}
    </update>
</mapper>